# =========================
# Maven
# =========================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
bin/

!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# Eclipse / STS
# =========================
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test Reports
# =========================
test-output/
surefire-reports/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.swp
*.bak

# =========================
# Application Secrets
# =========================
application-local.properties
application-dev.properties